@charset "UTF-8";

:root {
  --primary: #141414;
  --light: #F3F3F3;
  --dark:    #686868;
}
body{
  position: relative;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}
fieldset{
 text-align: center;
 width: 1200px;
 margin: 0 auto;
 border: 1px solid black;
	
}

header{
	display: inline-block;
	clear: both;
	position: relative;
	margin: 0 auto;
	background-image: url("")
	
		

}
.netflixLogo{
	display: inline;
	width: 1000px;
	
	
}
#logo{
	position: absolute;
	left:0;
}
section{
 margin: 30px auto;
 border-top: 1px solid red;
  width: 1200px;
}

#title{
	
	width: 1000px;
	text-align: center;
	margin: 30px;

	
}
.main-nav {
  text-align: center;
  padding: 50px 30px 10px 20px;
  margin: 30px auto;
}

.main-nav a {
  color: var(--light);
  text-decoration: none;
  margin-left: 30px;  
  padding: 10px;
  background-color: rgba(255,0,0,0.5);
  border-radius: 20px;
  display: inline-block;
  
}

.main-nav a:hover {
  color: var(--dark);
}


/* #search-box{ */
  
/*    width: 600px; */
/*    float:right; */
  
/* /*    border: 1px solid white; */ */
  
/* } */

/* #searchBox{ */
/*    width: 500px; */
/*    height: 10px; */
/*    border: 1px solid white; */
/*    border-radius: 20px; */
/*    background-color: rgba(255,255,255,0.8); */
/*    margin: 0 auto; */
/*    padding: 10px; */
/*    text-align: center; */
/* } */
/* #search_btn{ */
/*    display: inline-block; */
/*    color:black; */
   
/* } */
#recently, #bestTitle{
   
   font-size: 24px;
   color: white;
   font-weight: bold;
   margin:  30px 100px;
}
#searchImg, #best, #searchBoxImg{
	 
	  margin:  30px 100px;
}
#review_box{ 
   text-align: left;
   width: 1200px;
   border-bottom: 1px solid red;
 
}
#review_title{
   text-align: center;
   font-size: 12px;
   overflow: hidden;

}

.row{
 	display: inline-block;
}

#arrange{
	display: inline-block;
	margin-right: 10px;
	margin-top: 40px;
	margin-left: 10px;
}

.json_box{
 
   width: 142px;
   height: 200px;
   background-color: rgba(255,255,255,0.5);
   
   
}

.btn_btn_primary{
	text-decoration: none;
	color: white;
	
}
#img{
	display: block;
	
	
}
#pagination li{
	
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color:black;
  font-weight: bold;
  background-color: rgba(255,255,255,0.8);
  border-radius: 3px 3px 3px 3px;
  padding: 0 11px;
		}
		
#pagination {

  text-align: center;
}
		
.main-container {
  width: 1200px;
  padding: 50px;
}

.box {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.arrange img  {
  transition: transform .3s;  
}

.arrange img :hover {
  transition: transform .3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);  
  transform: scale(1.4);
}

